{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Wish List</h5>
        <p class="card-text"><small class="text-muted">Rowing Machine: Cost:$900, Saved:$350</small></p>
        <p class="card-text"><small class="text-muted">Bic Acoustech Subwoofer: Cost:$300, Saved:$25</small></p>
        <p class="card-text"><small class="text-muted">Bicycle: Cost:$1200, Saved:$400</small></p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vacation</h5>
        <p class="card-text"><small class="text-muted">Where: Oregon</small></p>
        <p class="card-text"><small class="text-muted">When: 01/20/2021</small></p>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Cost</h6>
            <p class="card-text"><small class="text-muted">Tickets: $1200</small></p>
            <p class="card-text"><small class="text-muted">Hotel: $1200</small></p>
            <p class="card-text"><small class="text-muted">Food: $500</small></p>
            <p class="card-text"><small class="text-muted">Extra: $500</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Down Payment on Kim's SUV</h5>
        <p class="card-text"><small class="text-muted">Goal: $3000, Saved:$1350</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}